name: Build & Release OBS Plugin

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout plugin
      uses: actions/checkout@v4

    - name: Checkout OBS Studio
      uses: actions/checkout@v4
      with:
        repository: obsproject/obs-studio
        path: obs-studio
        fetch-depth: 1

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    - name: Configure
      shell: cmd
      run: |
        cmake -S . -B build ^
          -DOBS_SOURCE_DIR=%CD%\obs-studio ^
          -DCMAKE_BUILD_TYPE=Release

    - name: Build
      shell: cmd
      run: |
        cmake --build build --config Release

    - name: Package
      shell: cmd
      run: |
        mkdir package
        copy build\Release\bilibili-live.dll package\

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: package/**
