name: Build & Release OBS Plugin

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout plugin
      uses: actions/checkout@v4

    - name: Checkout OBS Studio
      uses: actions/checkout@v4
      with:
        repository: obsproject/obs-studio
        path: obs-studio
        fetch-depth: 1

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: x64

    # ✅ vcpkg：自动读取 vcpkg.json
    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        runVcpkgInstall: true
    - name: Configure
      run: |
        cmake -S . -B build ^
          -A x64 ^
          -DOBS_SOURCE_DIR=${{ github.workspace }}/obs-studio ^
          -DCMAKE_TOOLCHAIN_FILE=${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake ^
          -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: |
        cmake --build build --config Release

    - name: Package
      run: |
        mkdir package
        copy build\Release\bilibili-live.dll package\

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: package/**
